/*ウィンドウ幅最大479pxまで(スマホ用）*/
@media screen and (max-width:479px) {
    .wrapper{
        width: 200px;
        height: 600px;
    }
    .header{
        height: 200px;
    }
    .contents-boxs{
        width: 60px;
        height: 160px;
        margin: 15px 70px;
    }
    .boxs-1{
        margin: 10px 10px 5px 10px;
    }
    .boxs-2{
        margin: 5px 10px;
    }
    .boxs-3{
        margin: 5px 10px;
    }
    .side{
        width: 200px;
        height: 200px;
    }
    .content{
        width: 200px;
        height: 100px;
    }
    .box-a{
        margin-left: 30px;
        margin-top: 20px;
        float: none;
    }
    .box-b{
        margin-left: 30px;
        margin-top: 5px;
        float: none;
    }
    .box-c{
        margin: 5px 30px 20px 30px;
        float: none;
    }
    .footer{
        width: 200px;
        height: 100px;
    }
    .main{
        height: 300px;
    }
}  